    <!doctype html>
    <html ng-app="cntApp">
      <head>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
        <script src="project.js"></script>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
      </head>
      <body>
        <div ng-controller="ProgressBar" style="width: 60%; margin: 0px auto;">
            Custom down counter
<br>
<br>
<small><em>Days</em></small>
<progressbar animate="false" value="days_p" type="success"><b>{{days}}</b></progressbar>

<small><em>Amount</em></small>
<progressbar animate="false" value="amount_p" type="success"><b>{{amount}}</b></progressbar>
<br>
<button class="btn btn-sm btn-primary" type="button" ng-click="random()">Randomize</button>
        </div>
        <!--
        <div ng-controller="CntController as cnt">
          <form ng-submit="cnt.compute()">
            <table>
              <tbody>
              <tr>
                <td>Start Value</td>
                <td><input type="text" ng-model="cnt.start" size="30" placeholder="2000"></td>
              </tr>
              <tr>
                <td>End Date</td>
                <td><input type="text" ng-model="cnt.end"   size="30" placeholder="20"></td>
              </tr>
              <tr>
                <td>Count Rate</td>
                <td> <input type="text" ng-model="cnt.rate"  size="30" placeholder="-2000/31"></td>
              </tr>
              <tr>
                <td></td>
                <td><input class="btn-primary" type="submit" value="Compute"></td>
              </tr>
              </tbody>
            </table>
            <br> 
          </form>
        </div>
        -->
      </body>
    </html>
