<input type="text" ng-model="cnt.start" class="compute-query" id="cnt_start" placeholder="2000">
<input type="text" ng-model="cnt.end"   class="compute-query" id="cnt_end"   placeholder="20">
<input type="text" ng-model="cnt.rate"  class="compute-query" id="cnt_rate"  placeholder="-2000/31">
<table>
  <thead>
  <tr>
    <th>Stat</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="stat in cnt.stats | orderBy:'name'">
    <td>{{stat.name}}</td>
    <td>{{stat.value}}</td>
  </tr>
  </tbody>
</table>
